<!DOCTYPE html>
<html  lagn="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="/resources/assets/images/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/resources/assets/images/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Default stylesheets-->
    <link href="/resources/assets/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Template specific stylesheets-->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="/resources/assets/lib/animate.css/animate.css" rel="stylesheet">
    <link href="/resources/assets/lib/components-font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/resources/assets/lib/et-line-font/et-line-font.css" rel="stylesheet">
    <link href="/resources/assets/lib/flexslider/flexslider.css" rel="stylesheet">
    <link href="/resources/assets/lib/owl.carousel/dist/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/resources/assets/lib/owl.carousel/dist/assets/owl.theme.default.min.css" rel="stylesheet">
    <link href="/resources/assets/lib/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
    <link href="/resources/assets/lib/simple-text-rotator/simpletextrotator.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Main stylesheet and color file-->
    <link href="/resources/assets/css/style.css" rel="stylesheet">
    <link id="color-scheme" href="/resources/assets/css/colors/default.css" rel="stylesheet">

    <!-- 모달 라이브러리 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<style>

    .util_wrap { position:absolute; top:0px; right:0px; background-color:#e9e9e9; border:1px solid#aaaaaa; padding:3px 10px 3px 10px; }

</style>
<th:block th:fragment="headFragment">

  <!--  <body class="homepage is-preload">
    <div id="page-wrapper">-->
    <nav class="navbar navbar-custom navbar-transparent navbar-fixed-top one-page" role="navigation">
        <div class="container">

           <!-- <div class="nav navbar-nav navbar-right">
                <ul>
                    <li><a class="section-scroll" data-toggle="modal" href="#loginModal">로그인</a></li>
                    <li class="hidden"><a class="dropdown-toggle" data-toggle="dropdown">로그아웃</a></li>
                    <li><a href="join_edit" class="hidden" >아이디/비밀번호찾기</a></li>
                    <li><a href="join" >회원가입</a></li>
                </ul>
            </div>-->
            <div class="collapse navbar-collapse">
            <div class="util_wrap">
                <h2 class="hidden">Util Menu</h2>
                <ul  class="nav navbar-nav navbar-right">

                    <li><a class="util_a" data-toggle="modal" href="#loginModal">로그인</a></li>
                    <li ><a id="register" class="util_a" href="join">회원가입</a></li>
                    <li class="hidden"><a href="" >로그아웃</a></li>
                    <li ><a href="join_edit"class="util_a">아이디/비밀번호찾기</a></li>

                </ul>


            </div>

            </div>

            <div class="collapse navbar-collapse" id="custom-collapse">
                <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="main">판별의 신</a>
            </div>
                <ul class="nav navbar-nav navbar-right">

                    <li><a href="service">서비스</a></li>
                    <li><a href="upload">영상업로드</a></li>
                    <li><a href="community">커뮤니티</a></li>
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">마이페이지</a>
                        <ul class="dropdown-menu">
                            <li><a href="myList">내게시판</a></li>
                            <li><a href="join_edit">회원정보수정</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


        <script src="/resources/vendors/polyfill.min.js"></script>
        <script src="/resources/vendors/jquery.min.js"></script>
        <script src="/resources/vendors/lodash.min.js"></script>
        <script src="/resources/vendors/axios.min.js"></script>
        <script src="/resources/vendors/moment.min.js"></script>
        <script src="/resources/vendors/jquery-mobile.event.min.js"></script>
        <script type="text/javascript" th:src="${@versionComponent.getVersion('/resources/build/onLoad.bundle.js')}"></script>
    </body>
</th:block>
</html>
