<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<style>


  .p {
    text-align: center;
    padding-top: 130px;
  }

</style>

<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
<div class="container">
<th:block th:fragment="setLogin(login)">
  <body>
  <div class="member_login">
    <form th:action="@{/auth/loginProc}" th:method="POST">

      <div class="member_login_input">
        <input type="text" name="username" placeholder="아이디" >
      </div>

      <div class="member_login_input">
        <input type="password" name="password" placeholder="비밀번호">
      </div>

      <div class="member_login_btn">
        <input type="submit" class="btn btn-secondary" id="btn-login" value="로그인">
        <a href="join"> | 회원가입</a>
      </div>

      <div class="login_api">
        <a href="/oauth2/authorization/google"><img src="https://k.kakaocdn.net/14/dn/btroDszwNrM/I6efHub1SN5KCJqLm1Ovx1/o.jpg"/></a>
      </div>

    </form>
  </div>


  </body>
</th:block>

</html>
