<!DOCTYPE html>
<html lang="en-US" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="/resources/assets/images/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/resources/assets/images/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!--  Stylesheets    -->
    <!-- Default stylesheets-->
    <link href="/resources/assets/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Template specific stylesheets-->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="/resources/assets/lib/animate.css/animate.css" rel="stylesheet">
    <link href="/resources/assets/lib/components-font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/resources/assets/lib/et-line-font/et-line-font.css" rel="stylesheet">
    <link href="/resources/assets/lib/flexslider/flexslider.css" rel="stylesheet">
    <link href="/resources/assets/lib/owl.carousel/dist/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/resources/assets/lib/owl.carousel/dist/assets/owl.theme.default.min.css" rel="stylesheet">
    <link href="/resources/assets/lib/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
    <link href="/resources/assets/lib/simple-text-rotator/simpletextrotator.css" rel="stylesheet">
    <!-- Main stylesheet and color file-->
    <link href="/resources/assets/css/style.css" rel="stylesheet">
    <link id="color-scheme" href="/resources/assets/css/colors/default.css" rel="stylesheet">
  </head>


      <body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
      <th:block th:replace="fragment/head :: headFragment"></th:block>
      <main class="main">
        <section class="module">
          <div class="container">
            <div class="row">
              <div>
                <div class="row">

                  <section class="module-medium" id="contact">
                    <h1></h1>

                  </section>
                </div>
                <h2 class="module-title font-alt">Services</h2>
                <hr class="divider-w pt-20">
                <div class="row">

                <div class="module-subtitle font-serif">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</div>
              </div>
            </div>
            <hr class="divider-w pt-20">
            <div class="row mb-60">
              <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="alt-features-item">
                  <div class="alt-features-icon"><span class="icon-strategy"></span></div>
                  <h3 class="alt-features-title font-alt">Branding</h3>A wonderful serenity has taken possession of my entire soul like these sweet mornings.
                </div>
                <div class="alt-features-item">
                  <div class="alt-features-icon"><span class="icon-tools-2"></span></div>
                  <h3 class="alt-features-title font-alt">Development</h3>A wonderful serenity has taken possession of my entire soul like these sweet mornings.
                </div>
              </div>
              <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="alt-features-item">
                  <div class="alt-features-icon"><span class="icon-target"></span></div>
                  <h3 class="alt-features-title font-alt">Marketing</h3>A wonderful serenity has taken possession of my entire soul like these sweet mornings.
                </div>
                <div class="alt-features-item">
                  <div class="alt-features-icon"><span class="icon-tools"></span></div>
                  <h3 class="alt-features-title font-alt">Design</h3>A wonderful serenity has taken possession of my entire soul like these sweet mornings.
                </div>
              </div>
              <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="alt-features-item">
                  <div class="alt-features-icon"><span class="icon-camera"></span></div>
                  <h3 class="alt-features-title font-alt">Photography</h3>A wonderful serenity has taken possession of my entire soul like these sweet mornings.
                </div>
                <div class="alt-features-item">
                  <div class="alt-features-icon"><span class="icon-mobile"></span></div>
                  <h3 class="alt-features-title font-alt">Mobile</h3>A wonderful serenity has taken possession of my entire soul like these sweet mornings.
                </div>
              </div>
              <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="alt-features-item">
                  <div class="alt-features-icon"><span class="icon-linegraph"></span></div>
                  <h3 class="alt-features-title font-alt">Music</h3>A wonderful serenity has taken possession of my entire soul like these sweet mornings.
                </div>
                <div class="alt-features-item">
                  <div class="alt-features-icon"><span class="icon-basket"></span></div>
                  <h3 class="alt-features-title font-alt">Shop</h3>A wonderful serenity has taken possession of my entire soul like these sweet mornings.
                </div>
              </div>
            </div>
          </div>
        </section>
        </section>
      </main>

    <!--   JavaScripts   -->
    <script src="/resources/assets/lib/jquery/dist/jquery.js"></script>
    <script src="/resources/assets/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/resources/assets/lib/wow/dist/wow.js"></script>
    <script src="/resources/assets/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js"></script>
    <script src="/resources/assets/lib/isotope/dist/isotope.pkgd.js"></script>
    <script src="/resources/assets/lib/imagesloaded/imagesloaded.pkgd.js"></script>
    <script src="/resources/assets/lib/flexslider/jquery.flexslider.js"></script>
    <script src="/resources/assets/lib/owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="/resources/assets/lib/smoothscroll.js"></script>
    <script src="/resources/assets/lib/magnific-popup/dist/jquery.magnific-popup.js"></script>
    <script src="/resources/assets/lib/simple-text-rotator/jquery.simple-text-rotator.min.js"></script>
    <script src="/resources/assets/js/plugins.js"></script>
    <script src="/resources/assets/js/main.js"></script>
  </body>
</html>