<!DOCTYPE html>
<html lang="en-US" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--    Document Title    -->
    <!--     Favicons   -->

    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/resources/assets/images/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!--    Stylesheets    -->

    <link href="/resources/assets/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Template specific stylesheets-->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="/resources/assets/lib/animate.css/animate.css" rel="stylesheet">
    <link href="/resources/assets/lib/components-font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/resources/assets/lib/et-line-font/et-line-font.css" rel="stylesheet">
    <link href="/resources/assets/lib/flexslider/flexslider.css" rel="stylesheet">
    <link href="/resources/assets/lib/owl.carousel/dist/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/resources/assets/lib/owl.carousel/dist/assets/owl.theme.default.min.css" rel="stylesheet">
    <link href="/resources/assets/lib/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
    <link href="/resources/assets/lib/simple-text-rotator/simpletextrotator.css" rel="stylesheet">
    <!-- Main stylesheet and color file-->
    <link href="/resources/assets/css/style.css" rel="stylesheet">
    <link id="color-scheme" href="/resources/assets/css/colors/default.css" rel="stylesheet">
  </head>

  <style>
    #form-commentInfo{
      width: 100%;
    }

    #comment-count{
      margin-bottom: 10px;
    }

    #comment-input{
      width: 50%;
      height: 3.3em;
    }

    #submit{
      background-color: rgb(0, 128,255);
      width: 5.5em;
      height: 3.3em;;
      font-size: 15px;
      font-weight: bold;
      color: aliceblue;
    }

    #voteUp, #voteDown{
      width: 3.5em;
      height: 1.9em;
      background-color: aqua;
    }

    #comments{
      margin-top: 10px;
    }

    .eachComment{
      width :50%;
      margin: 10px;
      padding: 0.5em;
      border-bottom: 1px solid #c1bcba;
    }

    .eachComment .name{
      font-size: 1.5em;
      font-weight: bold;
      margin-bottom: 0.3em;
      display: flex;
      justify-content: space-between;
    }

    .eachComment .inputValue{
      font-size: 1.2em;
      font-style: italic;
    }

    .eachComment .time{
      font-size: 0.7em;
      color: #c1bcba;
      font-style: oblique;
      margin-top: 0.5em;
      margin-bottom: 0.5em;

    }

    .eachComment .voteDiv{
      display: flex;
      justify-content: flex-end;
    }

    .eachComment .deleteComment{
      background-color: red;
      color: aliceblue;
    }


  </style>

  <body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">

    <main class="main">


      <th:block th:replace="fragment/head :: headFragment"></th:block>
      <main class="main">

        <section class="module">
          <div class="container">
            <div class="row">
              <!--<div class="col-sm-8 col-sm-offset-2">-->
                <section class="module-medium" id="contact">
                <h1 class="module-title font-alt mb-0">제목</h1>
                <h1></h1>
                <hr class="divider-w mt-10 mb-20">
                <form class="form" role="form">

                  <div class="form-group">
                    <div class="col-sm-12">
                      <section class="module bg-dark-60" data-background="/resources/assets/images/section-6.jpg">
                     <!-- <div class="video-box-icon"><a class="video-pop-up" href="https://www.youtube.com/watch?v=TTxZj3DZiIM"><span class="icon-video"></span></a></div>-->
                      <div class="post-thumbnail"><img src="assets/images/post-4.jpg" alt="Blog Featured Image"/></div>
                      <div class="video-title font-alt">Presentation</div>
                      <div class="video-subtitle font-alt">Watch the video about our new products</div>
                      </section>
                    </div>
                    </div>
                  <textarea class="form-control" rows="30" placeholder="내용"></textarea>
                  <p></p>
                  <div class="comments">
                      <div class="container">
                        <div class="row">
                                <h4 class="comment-title font-alt">댓글</h4>
                    <div class="comment clearfix">
                      <div class="comment-avatar"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/ryanbattles/128.jpg" alt="avatar"/></div>
                      <div class="comment-content clearfix">
                        <div class="comment-author font-alt"><a href="#">John Doe</a></div>
                        <div class="comment-body">
                          <p>The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary. The European languages are members of the same family. Their separate existence is a myth.</p>
                        </div>
                        <div class="comment-meta font-alt">Today, 14:55 - <a href="#">Reply</a>
                        </div>
                      </div>
                      <div class="comment clearfix">
                        <div class="comment-avatar"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/draganbabic/128.jpg" alt="avatar"/></div>
                        <div class="comment-content clearfix">
                          <div class="comment-author font-alt"><a href="#">Mark Stone</a></div>
                          <div class="comment-body">
                            <p>Europe uses the same vocabulary. The European languages are members of the same family. Their separate existence is a myth.</p>
                          </div>
                          <div class="comment-meta font-alt">Today, 15:34 - <a href="#">Reply</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="comment clearfix">
                      <div class="comment-avatar"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/pixeliris/128.jpg" alt="avatar"/></div>
                      <div class="comment-content clearfix">
                        <div class="comment-author font-alt"><a href="#">Andy</a></div>
                        <div class="comment-body">
                          <p>The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary. The European languages are members of the same family. Their separate existence is a myth.</p>
                        </div>
                        <div class="comment-meta font-alt">Today, 14:59 - <a href="#">Reply</a>
                        </div>
                      </div>
                    </div>
                  </div>
                          <div class="comment-form">
                              <form method="post">
                                  <div class="form-group">
                                      <textarea class="form-control" id="comment" name="comment" rows="4" placeholder="Comment"></textarea>
                                  </div>
                                  <button class="btn btn-round btn-d" type="submit">작성</button>
                              </form>
                </form>
            </div>
              </div>
            </div>
          </div>
          </div>
        </section>





        </div>
            </div>
          </div>





<script>
  function showComment(comment){
    const userName = document.createElement('div');
    const inputValue = document.createElement('span');
    const showTime = document.createElement('div');
    const voteDiv = document.createElement('div');
    const countSpan = document.createElement('span')
    const voteUp = document.createElement('button');
    const voteDown = document.createElement('button');
    const commentList = document.createElement('div');  //이놈이 스코프 밖으로 나가는 순간 하나지우면 다 지워지고 입력하면 리스트 다불러옴.
    //삭제버튼 만들기
    const delBtn = document.createElement('button');
    delBtn.className ="deleteComment";
    delBtn.innerHTML="삭제";
    commentList.className = "eachComment";
    userName.className="name";
    inputValue.className="inputValue";
    showTime.className="time";
    voteDiv.className="voteDiv";
    //유저네임가져오기
    userName.innerHTML = generateUserName();
    userName.appendChild(delBtn);
    //입력값 넘기기
    inputValue.innerText = comment;
    //타임스템프찍기
    showTime.innerHTML = generateTime();
    countSpan.innerHTML=0;
    //투표창 만들기, css먼저 입혀야함.
    voteUp.id = "voteUp";
    voteUp.innerHTML = '↑';
    voteDown.id = "voteDown";
    voteDown.innerHTML = '↓';
    voteDiv.appendChild(voteUp);
    voteDiv.appendChild(voteDown);

    //댓글뿌려주기
    commentList.appendChild(userName);
    commentList.appendChild(inputValue);
    commentList.appendChild(showTime);
    commentList.appendChild(voteDiv);
    rootDiv.prepend(commentList);

    voteUp.addEventListener("click",numberCount);
    voteDown.addEventListener("click",numberCount);
    delBtn.addEventListener("click",deleteComments);
    console.dir(rootDiv);

  }
  출처: https://avengersrhydon1121.tistory.com/65 [익명의 개발노트:티스토리]

</script>

    <!--
    JavaScripts
    =============================================
    -->
    <script src="/resources/assets/lib/jquery/dist/jquery.js"></script>
    <script src="/resources/assets/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/resources/assets/lib/wow/dist/wow.js"></script>
    <script src="/resources/assets/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js"></script>
    <script src="/resources/assets/lib/isotope/dist/isotope.pkgd.js"></script>
    <script src="/resources/assets/lib/imagesloaded/imagesloaded.pkgd.js"></script>
    <script src="/resources/assets/lib/flexslider/jquery.flexslider.js"></script>
    <script src="/resources/assets/lib/owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="/resources/assets/lib/smoothscroll.js"></script>
    <script src="/resources/assets/lib/magnific-popup/dist/jquery.magnific-popup.js"></script>
    <script src="/resources/assets/lib/simple-text-rotator/jquery.simple-text-rotator.min.js"></script>
    <script src="/resources/assets/js/plugins.js"></script>
    <script src="/resources/assets/js/main.js"></script>
  </body>
</html>